.main-box {
    width: 800px;
    min-height: 525px;
}

.items-box, .office-box {
    padding-left: 5px;
}

.item {
    width: 105px;
    height: 85px;
}

.rateus {
    right: 110px;
}
