<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/checkbox.css">
</head>
<body class="notransition" id="app">
<form id="form">
    <header  v-on:click="switchShift()">
        <div class="logo-text">Night Shift</div>
        <div class="controls">
            <input type="checkbox" 
                   class="custom-checkbox" 
                   id="shift" name="shift" 
                   value="yes" v-model="shift">
            <label for="shift"></label>
        </div>
    </header>
    <main>
        <div class="range-row">
            <div class="label">Opacity</div>
            <input type="range" name="range" v-model="opacity" v-on:change="changeShift()">
        </div>
        <div class="colors-row">
            <div class="colors-box">
                <label>
                    <input type="radio" name="color" value="#fac563" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#fac563;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#ff8100" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#ff8100;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#ff9329" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#ff9329;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#ffa500" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#ffa500;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#f1b174" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#f1b174;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#f55353" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#f55353;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#c5b791" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#c5b791;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#fae591" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#fae591;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#f5d65b" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#f5d65b;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#ffbffa" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#ffbffa;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#90d6f2" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#90d6f2;"></div>
                </label>
                <label>
                    <input type="radio" name="color" value="#111111" v-model="color" v-on:click="changeShift()">
                    <div class="color" style="background:#111111;"></div>
                </label>
            </div>
        </div>
    </main>
    <header class="darkmode"  v-on:click="switchDark()">
        <div class="logo-text">Dark Power</div>
        <div class="controls">
        <input type="checkbox"
               class="custom-checkbox"
               id="dark" name="dark"
               value="yes" v-model="dark">
        <label for="dark"></label>
        </div>
    </header>
    <header v-if="dark || shift" class="darkmode small-block" v-on:click="switchDarkDomain()">
        
        <div class="controls" style="display: none;">
            <input type="checkbox"
                   class="custom-checkbox"
                   id="domain" name="domain"
                   value="yes" v-model="domain">
            <label for="domain"></label>
        </div>

        <small v-if="!domain" class="small-text off">off for this site</small>
        <small v-if="domain" class="small-text on">on for this site</small>
    </header>
</form>
<script src="js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>
